<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.aku.dmu.quasi_experimental">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name="edu.aku.dmu.quasi_experimental.core.MainApp"
        android:allowBackup="false"
        android:icon="@drawable/logo_4"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo_4"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name="edu.aku.dmu.quasi_experimental.ui.sections.SectionPrescriptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="edu.aku.dmu.quasi_experimental.ui.sections.SectionVaccinationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.dmu.quasi_experimental.ui.sections.SectionDiagnosisActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.dmu.quasi_experimental.ui.sections.SectionExaminationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.dmu.quasi_experimental.ui.sections.SectionHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.dmu.quasi_experimental.ui.sections.SectionComplaintsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.dmu.quasi_experimental.ui.sections.SectionScreeningActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.dmu.quasi_experimental.ui.SplashscreenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Design.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.aku.dmu.quasi_experimental.ui.sections.SectionMobileHealthR2"
            android:label="@string/mobilehealthserviceform_heading"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="edu.aku.dmu.quasi_experimental.ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="edu.aku.dmu.quasi_experimental.ui.SyncActivity"
            android:label="Download and Upload Data Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="edu.aku.dmu.quasi_experimental.ui.EndingActivity"
            android:label="ِانٹرویو اسٹیٹس"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name="edu.aku.dmu.quasi_experimental.ui.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="edu.aku.dmu.quasi_experimental.ui.TakePhoto"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="edu.aku.dmu.quasi_experimental.ui.list_activity.FormsReportCluster"
            android:label="Forms Report"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="edu.aku.dmu.quasi_experimental.ui.list_activity.FormsReportDate"
            android:label="Forms Report"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="edu.aku.dmu.quasi_experimental.database.AndroidManager"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="edu.aku.dmu.quasi_experimental.ui.ChangePasswordActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="YEK_REVRES"
            android:value="cQfTjWmZq4t7w!z%C*F-JaNdRgUkXp2r5u8x/A?D(G+KbPeShVmYq3t6v9ySBNE)" />
        <meta-data
            android:name="YEK_TRATS"
            android:value="7" />
    </application>

</manifest>